LIBFRANKA_REF=0.8.0
FRANKA_ROS_REF=0.8.0
DISPLAY=:0
QT_X11_NO_MITSHM=1
ROBOT_IP=172.16.0.2
LOAD_GRIPPER=false
LAUNCH_SERL_CONTROLLER=1
LAUNCH_ROSCORE=1
FRANKA_CMD_PORT=5555
FRANKA_STATE_PORT=5556
FRANKA_ENABLE_GRIPPER_PORTS=0
FRANKA_GRIPPER_CMD_PORT=5557
FRANKA_GRIPPER_STATE_PORT=5558
FRANKA_STATE_HZ=20
FRANKA_GRIPPER_STATE_HZ=20
FRANKA_ROS_PUBLISH_RATE=30
FRANKA_COMPLIANCE_NODE=/cartesian_impedance_controllerdynamic_reconfigure_compliance_param_node
FRANKA_TRANSLATIONAL_STIFFNESS=1200.0
FRANKA_ROTATIONAL_STIFFNESS=50.0
